In [20]:
import pyspark

In [21]:
import pandas as pd
pd.read_csv('sample1csv.csv')

   Name   Age
0  Aryan   20
1  Grace   19
2  Sneha   19
3   Rene   33
4   John   20

In [22]:
from pyspark.sql import SparkSession

In [23]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [24]:
spark

In [25]:
df_pyspark=spark.read.csv('sample1csv.csv')
df_pyspark

DataFrame[_c0: string, _c1: string]

In [26]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
|Name |Age|
|Aryan| 20|
|Grace| 19|
|Sneha| 19|
| Rene| 33|
| John| 20|
+-----+---+

In [27]:
df_pyspark=spark.read.option('header','true').csv('sample1csv.csv')

In [28]:
df_pyspark.show()

+-----+---+
|Name |Age|
+-----+---+
|Aryan| 20|
|Grace| 19|
|Sneha| 19|
| Rene| 33|
| John| 20|
+-----+---+

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.head(1)

[Row(Name ='Aryan', Age='20')]

In [31]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)