In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession()

In [3]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [9]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [10]:
## check the schema
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Aryan| 20|        34|
|Grace| 19|        29|
|Sneha| 19|        78|
| Rene| 33|        22|
| John| 20|        11|
+-----+---+----------+

In [12]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns

['Name ', 'Age', 'Experience']

In [16]:
df_pyspark.head(3)

[Row(Name ='Aryan', Age=20, Experience=34),
 Row(Name ='Grace', Age=19, Experience=29),
 Row(Name ='Sneha', Age=19, Experience=78)]

In [17]:
df_pyspark.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Aryan| 20|        34|
|Grace| 19|        29|
|Sneha| 19|        78|
| Rene| 33|        22|
| John| 20|        11|
+-----+---+----------+

In [22]:
df_pyspark.select('Age').show()

+---+
|Age|
+---+
| 20|
| 19|
| 19|
| 33|
| 20|
+---+

In [26]:
df_pyspark.select('Name ').show()

+-----+
|Name |
+-----+
|Aryan|
|Grace|
|Sneha|
| Rene|
| John|
+-----+

In [28]:
df_pyspark.select(['Name ','Experience']).show()
## no slicing

+-----+----------+
|Name |Experience|
+-----+----------+
|Aryan|        34|
|Grace|        29|
|Sneha|        78|
| Rene|        22|
| John|        11|
+-----+----------+

In [29]:
df_pyspark['Name ']

Column<'Name '>

In [30]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [31]:
df_pyspark.describe()

DataFrame[summary: string, Name : string, Age: string, Experience: string]

In [32]:
df_pyspark.describe().show()

+-------+-----+-----------------+------------------+
|summary|Name |              Age|        Experience|
+-------+-----+-----------------+------------------+
|  count|    5|                5|                 5|
|   mean| null|             22.2|              34.8|
| stddev| null|6.058052492344384|25.645662401271682|
|    min|Aryan|               19|                11|
|    max|Sneha|               33|                78|
+-------+-----+-----------------+------------------+

In [42]:
### Adding Columns in dataframe
df_pyspark=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+3)

In [43]:
df_pyspark.show()

+-----+---+----------+------------------------+
|Name |Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|Aryan| 20|        34|                      37|
|Grace| 19|        29|                      32|
|Sneha| 19|        78|                      81|
| Rene| 33|        22|                      25|
| John| 20|        11|                      14|
+-----+---+----------+------------------------+

In [47]:
## dropping columns
df_pyspark=df_pyspark.drop('Experience After 2 years')

In [48]:
df_pyspark.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Aryan| 20|        34|
|Grace| 19|        29|
|Sneha| 19|        78|
| Rene| 33|        22|
| John| 20|        11|
+-----+---+----------+

In [56]:
df_pyspark=df_pyspark.withColumnRenamed('Name ','Peru')

In [57]:
df_pyspark.show()

+-----+---+----------+
| Peru|Age|Experience|
+-----+---+----------+
|Aryan| 20|        34|
|Grace| 19|        29|
|Sneha| 19|        78|
| Rene| 33|        22|
| John| 20|        11|
+-----+---+----------+