In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [4]:
df_pyspark=spark.read.csv('test4.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
|Name |Age|Experience|Salary|
+-----+---+----------+------+
|Aryan| 20|        34| 69000|
|Grace| 19|        29|220000|
|Sneha| 19|        78|170000|
| Rene| 33|        22| 22000|
| John| 20|        11| 18000|
| Isen| 22|        45| 90000|
| Arlo| 19|        12|120000|
|Blyke| 21|        22|200000|
+-----+---+----------+------+

In [5]:
### filter operations salary of the people less than 92000
df_pyspark.filter('Salary<=92000').show()

+-----+---+----------+------+
|Name |Age|Experience|Salary|
+-----+---+----------+------+
|Aryan| 20|        34| 69000|
| Rene| 33|        22| 22000|
| John| 20|        11| 18000|
| Isen| 22|        45| 90000|
+-----+---+----------+------+

In [6]:
df_pyspark.filter('Salary<=92000').select(['Name ','Age']).show()

+-----+---+
|Name |Age|
+-----+---+
|Aryan| 20|
| Rene| 33|
| John| 20|
| Isen| 22|
+-----+---+

In [9]:
df_pyspark.filter((df_pyspark['Salary']<=92000) &( df_pyspark['Salary']>20000)).show()

+-----+---+----------+------+
|Name |Age|Experience|Salary|
+-----+---+----------+------+
|Aryan| 20|        34| 69000|
| Rene| 33|        22| 22000|
| Isen| 22|        45| 90000|
+-----+---+----------+------+

In [11]:
df_pyspark.filter(~(df_pyspark['Salary']<20000)).show()

+-----+---+----------+------+
|Name |Age|Experience|Salary|
+-----+---+----------+------+
|Aryan| 20|        34| 69000|
|Grace| 19|        29|220000|
|Sneha| 19|        78|170000|
| Rene| 33|        22| 22000|
| Isen| 22|        45| 90000|
| Arlo| 19|        12|120000|
|Blyke| 21|        22|200000|
+-----+---+----------+------+